# Unity 기본 무시 항목
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.booproj
*.svd
*.pdb
*.mdb
*.png
*.asset
*.fbx
*.meta
*.vsidx

# 무시 항목 추가
*.png
*.jpg 
*.meta 
*.fbx 
*.obj 
*.mp4 
*.mov
*.wab 
*.ogg

# Unity 필수 설정 포함
!ProjectSettings/
!ProjectSettings/**
!Packages/
!Packages/**